/*.campo-input {
    position: relative;
    border: 1px solid #aaa;
    
    padding: 6px;
    margin: 10px 0;

    width: 200px;
}

label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
}

input {
    width: 100%;
    border: none;
    outline: 0;
}*/