@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* APP CSS */
body {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAABlBMVEUAmv4AmvxnzTtNAAAAvUlEQVR4nO3dzQqAIAwA4Hr/l+7SIaqhG0I/ft9NcqI7OQy2LMDT1l1y2v1wTa4WRAWfk9M6w1qbOk69xJSSFe6glKzGvhPHuwurr9Y4FQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPA+QVfCYrdC/Q0BYC71K8OEbZElCwAAgGJtOCnJAgAA+JGxRZ6SEQAAxiresU9h0VNY5+pfueSP+Rt0kmQBAMDPebBIkCwAAIBOUek0tqR6eYG2AUJMAhe9tmxLAAAAAElFTkSuQmCC");
 	background-color: #cccccc;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.posts {
	display: flex;
	flex-wrap: wrap;
}

.container-form {
	display: flex;
	justify-content: flex-end;
}

@media(max-width: 799px) {
	.posts {
		justify-content: center;
	}
}
@media(max-width: 530px) {
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.container-form {
		justify-content: center;
		margin: 40px;
	}
}